html,body{
    font-size: 100px;
}
body{
    background: #af1e21;
}
@font-face {
    font-family: 'FZSTK';
    src: url('./FZSTK.TTF');
}
.swiper-container{
    width: 100%;
    height: 100%;
}
/*.swiper-wrapper{

    align-items: flex-start;
    transition-property: transform,height;
}*/
.first{
    width: 100%;
    background: url('./imgs/bg.jpg') no-repeat 0 center;
    background-size: 100%;
}
.first .inner{
    height: 3rem;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 55%;
    transform: translateY(-50%);
}
.first .btn{
    width: 2rem;
    height: .6rem;
    background:#de413c;
    opacity: .8;
    border-radius: .1rem;
    color: rgb(209, 195, 56);
    font-size: .24rem;
    outline: 0 none;
    border: 0 none;
    margin-top: .5rem;
    animation-delay: 2s !important;
}
.first .btn span{
    font-size: .28rem;
}
h3{
    text-align: center;
    color: rgb(209, 195, 56);
    font-size: 1rem;
    box-shadow: black 0px 0px 0px;
    font-weight: normal;
    font-family: 'FZSTK';
    animation-duration: 2s !important;
    animation-delay: 1.4s !important;
    animation-iteration-count: 2s !important;
    margin-top: .2rem;
}
.name,.date,.place{
    color: rgb(209, 195, 56);
    font-size: .36rem;
    box-shadow: black 0px 0px 0px;
    font-weight: normal;
    margin-top: .3rem;
    text-align: center;
}
.f18{
    font-size: .15rem;
}
.name{
    animation-delay: .3s !important;
}
.name span:first-of-type{
    margin-right: .1rem;
}
.date{
    font-size: .3rem;
    animation-delay: .6s !important;
}
.two{
    color: rgb(209, 195, 56);
    font-size: .32rem;
    line-height: 2;
    text-align: center;
    /*padding-top: .2rem;*/
}
.two .inner{
    width: 90%;
    height: 80%;
    margin: 1rem auto 0;
    border: 4px solid rgb(209, 195, 56);
}
.two .inner p{
    font-family: 'FZSTK';
    line-height: 1.8;
}
.two .inner p:nth-of-type(1){
    animation-delay: 0.3s !important;
}
.two .inner p:nth-of-type(2){
    animation-delay: 0.6s !important;
}
.two .inner p:nth-of-type(3){
    animation-delay: 0.9s !important;
}
.two .inner p:nth-of-type(4){
    animation-delay: 1.2s !important;
}
.two .inner p:nth-of-type(5){
    animation-delay: 1.5s !important;
}
.two .inner p:nth-of-type(6){
    animation-delay: 1.8s !important;
}
.two .inner p:nth-of-type(7){
    animation-delay: 2.1s !important;
}
.two .inner p:nth-of-type(8){
    animation-delay: 2.4s !important;
}
.two .inner p:nth-of-type(9){
    animation-delay: 2.7s !important;
}
.two .inner p:nth-of-type(10){
    animation-delay: 3.0s !important;
}
.place{
    font-size: .3rem;
    margin-top: .2rem;
    animation-delay: .8s !important;
}
.decorate{
    width: 2rem;
    position: absolute;
    left: .8rem;
    bottom: 2rem;
    animation-delay: 3s !important;
}
.balloon{
    width: .8rem;
    position: absolute;
    right: .5rem;
    top: 1.5rem;
}
.couple{
    position: absolute;
    right: 1rem;
    bottom: 2rem;
    color: rgb(209, 195, 56);
    font-size: .3rem;
    animation-delay: 3s !important;
}
.couple span{
    display: block;
}
.couple div{
    font-size: .36rem;
}
.music{
    position: absolute;
    top: .3rem;
    right: .2rem;
    width: .5rem;
    height: .5rem;
    z-index: 222;
}
.roll{
    animation:turn 2s linear infinite;
}
.arrow{
    position: absolute;
    left: 50%;
    margin-left: -0.19rem;
    bottom: .45rem;
    width: .38rem;
    height: .35rem;
    opacity: 1;
    animation: toBottom 2s linear infinite;
    -webkit-animation: toBottom 2s linear infinite;
    z-index: 99999;
}
#fireworks1{
    position: absolute;
    left: .78rem;
    top: 1.2rem;
    width: .6rem;
    height: .62rem;
    transform: scale(0);
    animation: fireworks 3s 2s infinite;
    z-index: 1000;
}
#fireworks2 {
    position: absolute;
    left: 1.38rem;
    top: .3rem;
    width: .38rem;
    height: .4rem;
    transform: scale(0);
    animation: fireworks 3s 1s infinite;
    z-index: 1000;
}
@keyframes turn{
    0%{-webkit-transform:rotate(0deg);}
    25%{-webkit-transform:rotate(90deg);}
    50%{-webkit-transform:rotate(180deg);}
    75%{-webkit-transform:rotate(270deg);}
    100%{-webkit-transform:rotate(360deg);}
}
/* 动画 */
@keyframes toBottom{
    50%{
        /* top:9.68rem; */
        /* top:1.06rem; */
        bottom: .48rem;
        opacity:0;
    } 
    100%{
        /* top:9.48rem; */
        /* top: 0.86rem; */
        bottom: .45rem;
        opacity:0;  
    }
}
@keyframes fireworks{
    25%{
        transform:scaleX(0);
        -webkit-transform:scaleX(0);  /*兼容-webkit-引擎浏览器*/
        -moz-transform:scaleX(0);     /*兼容-moz-引擎浏览器*/
    } 
    100%{
        transform:scaleX(1.5);
        -webkit-transform:scaleX(1.5);  /*兼容-webkit-引擎浏览器*/
        -moz-transform:scaleX(1.5);     /*兼容-moz-引擎浏览器*/
    }
}